.platform-logo {
  width: 100px;
}
.plaform-radio {
  margin-right: 4px;
}
.platform-label {
  display: flex;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid rgb(228, 226, 226);
  cursor: pointer;

}
.platform-container {
  @apply py-1;
  padding-left: 0px;
  padding-right: 3px;
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.first-row{
  @apply w-full px-1 ;
  
}

.disableMulti div {
  cursor: not-allowed;
}
.rmsc--zepto{
  --rmsc-main:  #5a0c82 !important;
  ;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: #ccc !important;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 30px !important; /* Height */

}

.rmsc--zepto .select-item:hover {
  background-color: rgb(157 127 181 ) !important;
}

.rmsc--zepto .item-renderer input {
  position: relative;
}

.rmsc--zepto .item-renderer input:checked::after {
  content: "\2714";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 2px;
  background-color: #5a0c82 !important;

  line-height: 14px;
}
