.action_table {
  @apply bg-white text-sm font-normal overflow-auto w-full;
}
.action_table table {
  @apply border-collapse;
}

.action_table::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
}

.action_table th {
  @apply text-xs font-thin font-sans bg-[#fafafa];
  padding-left: 0.5rem;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  padding: 15px 10px 15px 4px;
}

.action_table td {
  @apply text-xs font-thin font-sans bg-gray-100 text-black;
 
  font-size: 15px;
  line-height: 20px;
  padding: 4px 10px 10px 4px;
 
  font-weight: 400;
}

.customBoxFlipkart.rmsc .dropdown-container {
  height: 38px !important;
}
