.rule_table {
  /* @apply row py-4; */
  align-items: center;
}

.rule_table p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.rule_arrow {
  display: none;
}

.rules_outer_table th {
  @apply pl-2;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));

  max-width: 40px;
}

.rule_content td {
  width: 100px;
}
.custom-report_table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 20px 0; */
  table-layout: fixed;
}

.custom-report_table th,
td {
  padding: 10px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* width: 100%; */
}

.breakdown-column,
.date-breakdown-column {
  position: sticky;
  background: white;
  z-index: 10;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* other-breakdown-column{

} */

.date-breakdown-column:nth-child(1) {
  left: 0px;
  width: 120px;
  max-width: 120px;
}

.date-breakdown-column:nth-child(2) {
  left: 120px;
  width: 200px;
  max-width: 200px;
}

.date-breakdown-column:nth-child(3) {
  left: 320px;
  width: 200px;
  max-width: 200px;
}

.date-breakdown-column:nth-child(4) {
  left: 520px;
  width: 200px;
  max-width: 200px;
}

.date-breakdown-column:nth-child(5) {
  left: 720px;
  width: 200px;
  max-width: 200px;
}

.date-breakdown-column:nth-child(6) {
  left: 720px;
  width: 200px;
  max-width: 200px;
}

.date-breakdown-column:nth-child(7) {
  left: 720px;
  width: 200px;
  max-width: 200px;
}

/* For column widths */
.breakdown-column:nth-child(1) {
  left: 0;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(2) {
  left: 200px;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(3) {
  left: 400px;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(4) {
  left: 600px;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(5) {
  left: 800px;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(6) {
  left: 800px;
  width: 200px;
  max-width: 200px;
}

.breakdown-column:nth-child(7) {
  left: 800px;
  width: 200px;
  max-width: 200px;
}

.other-columns {
  width: 130px;
  min-width: 130px;
}

/* tr {
  transition: box-shadow 0.3s ease; 
}

tr:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transform: scale(1.05); 
} */

.no-data-found {
  width: 200px;
  /* overflow: auto; */
}
