.table_scroll {
  /* height: 500px; */
  overflow: auto;
  resize: vertical;
  margin: auto;
  /* min-height: 500px; */
  /* max-width: 750px; */
  /* box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); */
  background-color: #fff !important;
}
.hygieneButton {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.hygieneSelectContainer {
  display: flex !important;
  flex-direction: row;
}
.hygieneButton span {
  font-size: 12px;
}
.hygieneButtonContainer {
  padding-left: 10px;
  /* margin-top: -5px; */
}

.hygieneinput_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hygieneinputForce_img {
  /* width: 100%; */
  cursor: not-allowed;
}
.hygieneproduct {
  padding-top: 0.2rem;
}
.hygieneButton__btn {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* margin-top: 1rem; */
  cursor: pointer;
  align-items: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  border: solid 1px #d9d9d9;
}

.hygieneButton__btn:hover:is(:not(:disabled)) {
  background-color: #0081f7;

  border: solid 1px #0081f7 !important;
  color: #fff !important;
}
.hygieneButton__btn:disabled {
  background-color: rgb(155, 155, 155);

  border: solid 1px grey !important;
  color: #fff !important;
  cursor: not-allowed;
}
/*Div Table Setting*/
.css_table {
  display: table;
  position: relative;
  width: 100%;
}
.css_tr {
  display: table-row;
}
.css_tr:nth-child(even) .css_td {
  background: rgb(245, 245, 245);
}
.css_tr:nth-child(even) .css_sd {
  background: rgb(245, 245, 245);
}
.css_tr:nth-child(odd) .css_td {
  background: #fff;
}
.css_td,
.css_th,
.css_sd {
  display: table-cell;
  padding: 8px 10px;
  white-space: nowrap;
  /* border-bottom: 0.2px solid #fff; */
  border-right: 0.2px solid #fff;
}
.css_thead {
  display: table-header-group;
  font-weight: bold;
  z-index: 1;
}
.css_tfoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.css_tbody {
  display: table-row-group;
}
/*Table Header Fixed */
.css_th {
  position: sticky;
  background-color: #f1f5f9;
  /* color: #fff; */
  top: 0;
  z-index: 1;
}
.css_sd {
  position: sticky;
  left: 0;
  background-color: none;
}
.css_thead div.css_th:first-child,
.css_tfoot div.css_th:first-child {
  left: 0;
  z-index: 1;
}
.css_tfoot .css_th {
  bottom: 0;
}

/* FUNNEL GRAPH */
/* .funnel {
  position: relative;
}

.funnel .labelFirst {
  position: absolute;
  color: #eee;
  text-shadow: 1px 1px 10px #eee;
  top: -55px;
  left: 110px;
  margin: 0 auto;
}
.funnel .labelSecond {
  position: absolute;
  color: #eee;
  text-shadow: 1px 1px 10px #eee;
  top: -55px;
  left: 55px;
  margin: 0 auto;
}
.funnel .labelThird {
  position: absolute;
  color: #eee;
  text-shadow: 1px 1px 10px #eee;
  top: -60px;
  left: -20px;
  margin: 0 auto;
}
.funnelTop {
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 75px solid #0081f7;

  border-radius: 20px;
}
.funnelMiddle {
  margin: 0 75px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 75px solid #39a0ff;
  margin-top: 10px;
  border-radius: 20px;
}
.funnelLast {
  margin: 0 150px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 75px solid #8fcaff;
  margin-top: 10px;
  border-radius: 20px;
} */
.funnel {
  list-style-type: none;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #fff;
}
.funnel li {
  padding: 10px 5px;
  margin: 0;
  /* background-color: #409ca9; */
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  /* height: 4rem;
  line-height: 3rem; */
  cursor: pointer;
}

.funnel li:before,
.funnel li:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  border-bottom: 90px solid #fff;
}
.funnel li:before {
  left: 0;
  border-right: 34px solid transparent;
  border-left: 0;
}
.funnel li:after {
  right: 0;
  border-left: 34px solid transparent;
  border-right: 0;
}
.funnel li:nth-child(1) {
  background: #0081f7;
}
.funnel li:nth-child(2) {
  background: #39a0ff;
}
.funnel li:nth-child(3) {
  background: #8fcaff;
}
.funnel li:nth-child(1):before,
.funnel li:nth-child(1):after {
  width: 0;
}
.funnel li:nth-child(2):before,
.funnel li:nth-child(2):after {
  width: 60px;
}
.funnel li:nth-child(3):before,
.funnel li:nth-child(3):after {
  width: 86px;
  height: 100%;
}
.funnel li:last-child:before {
  left: 0;
  border-right: 34px solid transparent;
  border-left: 0;
}
.funnel li:last-child:after {
  right: 0;
  border-left: 34px solid transparent;
  border-right: 0;
}

/* FUNNEL GRAPH */

/* TOOLTIP */
/* .funnel-tooltip[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: 2px;
  display: inline-block;
  padding: 3px 6px;
  right: 10px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
.funnel-tooltip[data-title]:hover::after {
  z-index: 1000;
  content: "";
  position: absolute;
  left: 8px;
  right: 10px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
} */
/* TOOLTIP */

/*STEP PROGRESS*/
.stepper-wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 97%;
  top: 5px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 97%;
  top: 5px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}
.stepper-item.active .step-counter {
  background-color: #0081f7;
}

.stepper-item.completed .step-counter {
  background-color: #0081f7;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #0081f7;
  width: 97%;
  top: 5px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

/* sidepopup */
.row {
  @apply flex flex-wrap w-full;
}

.sidepopup {
  @apply w-full bg-black h-screen fixed top-0 right-0  bg-opacity-30 row justify-center items-center z-50;
}
.sidepopup--rightSide {
  @apply justify-end items-start;
}
.sidepopup__container {
  @apply bg-white pb-4 rounded-lg overflow-hidden;
  animation: slideUpToDown 1s;
  width: 378px !important;
  top: 10%;
}
.sidepopup__container--rightSide {
  @apply h-screen rounded-none;
  animation: slideRightToLeft 1s linear forwards;
}
.sidepopup__heading {
  @apply py-4 px-6 rounded-t-lg;
  background-color: #f8f8f8;
}
.sidepopup__heading--rightside {
  background-color: transparent;
}
.sidepopup__content {
  @apply overflow-scroll pt-1;

  max-height: 70vh;
}
.sidepopup__content--rightside {
  @apply border;
  min-height: 90vh;
  max-height: 90vh;
}
.flipkart__applybtn {
  @apply bg-blue-500 text-white p-2 px-5 py-2 rounded-md;
}

.flipkart__applybtn:hover {
  @apply bg-black;
}
.sidepopup__button {
  @apply px-4 py-2 capitalize flipkart__applybtn text-white mx-2;
}
.sidepopupleftpanel__selectdropdown {
  @apply w-full px-6 py-2 rounded outline-none;
  border: 1px solid #ccc;
}

/* UPLOADER */
.file-uploader {
  margin-top: 0.5rem;
  border: 2px solid #eff1f2;
  padding: 5px;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
}

.input-upload {
  margin-top: 0.5rem;
  opacity: 0;
  cursor: pointer;
}

/* Blur */

/* .blur-table:before {
  transition: all 0.3s ease;
} */
/* .blur-table { */
/* -webkit-filter: blur(1px); */
/* filter: blur(1px); */
/* } */

.custom-dropdown {
  position: relative;
}

.input-selector-mapped-action {
  width: 200px; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.dropdown-options {
  position: absolute;
  top: 100%; /* Position dropdown below the input */
  left: 0;
  width: 100%; /* Adjust the width as needed */
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.upload_product__tablehead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 35;
  background-color: #ffffff; /* Adjust the background color as needed */
}

/* Table container styles */

/* Fixed first column styles */
/* .product_upload_table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
} */

/* Other cell styles */

.product_upload_tr {
  @apply h-16;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px !important;
  font-size: 13px;
  font-weight: 400;
  border-top: none;
  line-height: 18px;
}

/* Sticky header cell styles */
/* .product_upload_table thead th {
  background-color: #f1f5f9;
  padding: 8px;
  text-align: left;
} */

/* Sticky first column header styles */
/* .product_upload_table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
} */

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;
  box-sizing: border-box;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.ul-block {
  display: block !important; /* Use !important for debugging */
}

.ul-hidden {
  display: none !important; /* Use !important for debugging */
}

.disabled-element {
  cursor: not-allowed !important;
  opacity: 0.7;
}

.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  background-color: #ebedf0;
  transition: 0.3s;
}
.rc-accordion-toggle.active {
  background-color: #5a8dee;
}
.rc-accordion-toggle.active .rc-accordion-icon {
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.rc-accordion-card:last-child {
  margin-bottom: 0;
}
.rc-accordion-title {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  color: #475f7b;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title {
  color: #fff;
}
.rc-accordion-icon {
  position: relative;
  top: 2px;
  color: #475f7b;
  transition: 0.35s;
  font-size: 12px;
}
.rc-accordion-body {
  flex: 1 1 auto;
  min-height: 1px;
  /* padding: 15px; */
}
.rc-accordion-body p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727e8c;
}
.rc-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show {
  height: auto;
}
