.preview-rule {
  font-size: 14px;
  margin-bottom: 5px;
}
ul.preview-rule {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
ul.preview-rule li {
  font-size: 14px;
  margin-bottom: 5px;
}
.preview-condition-box {
  background: #f1f5fa;
  padding: 10px 15px 15px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
}
.preview-condition-box h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}
ul.preview-rule li b {
  font-weight: 600;
  font-size: 13px;
}
.preview-data-body-wrap {
  overflow: auto;
  max-height: 426px;
  padding:0 8px 0 6px;
}
.modal-body {
  /* position: relative; */
  padding: 15px;
}
.table-container {
  width: 100% !important;
  border-collapse: collapse !important;
}

.table-container th {
  background-color: #f3f4f6 !important;
  font-weight: bold;
  padding: 0.5rem;
}

.table-container td {
  padding: 0.5rem;
}

.custom_time > td {
  background-color: red;
}

.deleteoptn {
  @apply absolute right-0 top-full text-left z-50;
  min-width: 8em;
  box-shadow: 0 10px 10px #ddd;
  min-height: 3em;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* z-index: 1000;
    top: 18%; */
  padding: 5px 0;
  align-items: center;
}

.preview_data {
  display: flex;
  flex-wrap: wrap;
}

.rules-table th:nth-of-type(1) {
  min-width: auto !important;
}

.rules-table th:nth-of-type(2) {
  min-width: auto;
  left: auto;
}

.rules-table td:nth-of-type(4) {
  width: auto !important;
}
.rules-table td:nth-of-type(5) {
  width: auto !important;
}
