.platform-logo {
  width: 100px;
}
.plaform-radio {
  margin-right: 4px;
}
.platform-label {
  display: flex;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid rgb(228, 226, 226);
  cursor: pointer;
}
.platform-container {
  padding-left: 14px;
  padding-right: 3px;
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.first-row {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.disableMulti div {
  cursor: not-allowed;
}

#amazon_cond_btn {
  background: #ef880f !important;
}
